/*重置样式*/
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/*公共样式*/
.wrapper{width: 1226px;margin: 0 auto;}


#header{
    background-color:#333 ;
    position: relative;
    overflow: hidden;
    height: 40px;
}
#header .header ul{
    overflow: hidden;
    /* height: 40px; */
}
#header .header ul li a{
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color:#b0b0b0;
}
#header .header ul li a:hover{
    color: #fff;
}
#header .header ul:nth-of-type(1){
    float: left;
}
#header .header ul:nth-of-type(1) li{
    float: left;
    padding-left: 6px;
    padding-right: 6px;
}
#header .header ul li a{

    text-decoration: none;
}
#header .header ul:nth-of-type(2) li{
    float: right;
    padding-left: 10px;
    padding-right: 6px;
}
#header .header ul:nth-of-type(2) li:nth-of-type(1){
    background-color: #424242;
    padding-right: 20px;
    padding-left: 20px;
}
#header .header ul:nth-of-type(2) li:nth-of-type(1):hover{
    background-color: #fff;
}
#header .header ul:nth-of-type(2) li:nth-of-type(1):hover a{
    color: orange;
}

.gwc{
    /* display: none; */
    position: absolute;
    right: 70px;
    top: 40px;
    height: 100px;
    width: 300px;
    background-color: pink;
    text-align: center;
    line-height: 100px;
}


/* nav */
.nav{
    /* background-color: pink; */
    height: 100px;
    overflow: hidden;
}
.navleft{
    float: left;
    width: 56px;
    height: 57px;
    margin-top: 20px;
    background-image: url(../images/logo-footer.png);
}
.navleft a{
    display: block;
    width: 100%;
    height: 100%;
}
.nav_top{
    float: left;
}


.navright{
    float: right;
    margin-right: 50px;
    margin-top: 25px;
    border: 1px solid black;
}
.navright input{
    border: 0;
}
.y1{
    height: 50px;float: left;
}
.y2{
    width: 50px;height: 50px;float:right ;
    background:url(../images/fdj.png) no-repeat 15px 15px;
}


/* 轮播图 */
/* .swiper-pagination{
    position: relative;
    z-index: 1;
} */
.lbt_big{
    width: 1226px;
    height: 460px;
    position: relative;
}
.sw1{
    background: url(../images/a2.jpg) no-repeat;
    background-size: 100%;
}
.sw2{
    background: url(../images/a1.webp) no-repeat;
    background-size: 100%;
}
.sw3{
    background: url(../images/a3.webp) no-repeat;
    background-size: 100%;
}
.sw4{
    background: url(../images/a4.webp) no-repeat;
    background-size: 100%;
}
.lbtbigl{
    position: absolute;
    margin-left: 200px;
}
.swiper-slide a{
    display: block;
    width: 100%;
    height: 100%;
}





/* tu */
#tu{
    margin-top: 20px;
}
.tu{
    height: 160px;
    overflow: hidden;
}
.tu>div{
    float: left;
}
.tu1{
    width: 240px;
    height: 160px;
    background-color:#5f5750 ;
}
.tu1 ul{
    overflow: hidden;
}
.tu1 ul li{
    float: left;
    width: 80px;
    height: 80px;
}


.tu1 ul li:nth-of-type(1){
    background: url(../images/z1.png) no-repeat 50% 30%;
    background-size: 25px ;
    border-right: 1px solid #93908d;
    border-bottom: 1px solid #93908d;
}
.tu1 ul li:nth-of-type(2){
    background: url(../images/z2.png) no-repeat 50% 30%;
    background-size: 25px ;
    border-right: 1px solid #93908d;
    border-bottom: 1px solid #93908d;
}
.tu1 ul li:nth-of-type(3){
    background: url(../images/z3.png) no-repeat 48% 30%;
    background-size: 25px ;
    border-bottom: 1px solid #93908d;
}
.tu1 ul li:nth-of-type(4){
    background: url(../images/z4.png) no-repeat 50% 30%;
    background-size: 25px ;
    border-right: 1px solid #93908d;
}
.tu1 ul li:nth-of-type(5){
    background: url(../images/z5.png) no-repeat 50% 30%;
    background-size: 25px ;
    border-right: 1px solid #93908d;
}
.tu1 ul li:nth-of-type(6){
    background: url(../images/z6.png) no-repeat 50% 30%;
    background-size: 25px ;
}

.tu1 ul li a{
    display: block;
    width: 80px;
    height: 80px;
    color: #fff;
    line-height: 120px;
    text-decoration: none;
    margin-top: 50spx;
    padding-left: 15px;
    font-size: 10px;
    color: #d1cdca;
}
.tu1 ul li a:hover{
    color:#fff;
}

.tu2{
    width: 300px;
    background:url(../images/xt1.jpg) no-repeat;
    background-size: 100% 100%;
    height: 160px;
    margin-left: 28px;
}
.tu3{
    width: 300px;
    background:url(../images/xt2.jpg) no-repeat;
    background-size: 100% 100%;
    height: 160px;
    margin-left: 28px;
}
.tu4{
    width: 300px;
    background:url(../images/xt3.jpg) no-repeat;
    background-size: 100% 100%;
    height: 160px;
    margin-left: 28px;
}
.tu2 a{
    display: block;
    width: 100%;
    height: 100%;
}
.tu3 a{
    display: block;
    width: 100%;
    height: 100%;
}
.tu4 a{
    display: block;
    width: 100%;
    height: 100%;
}

/* 主体 */
#main{
    background-color: #f5f5f5;
    margin-top: 30px;
    overflow: hidden;
}

.main{
    height: 1000px;
}
.mp1{
    margin-top: 10px;
    font-size: 24px;
    line-height: 40px;
}

.md1{
    width: 100%;
    height: 350px;
    /* background-color: pink; */
    overflow: hidden;
}

.jsq{
    width: 240px;
    height: 100%;
    background:#f1eded url(../images/qq1.png) no-repeat 65px 100px;
    float: left;
}
.mp2{
    text-align: center;
    font-size: 20px;
    color:red;
    padding-top: 60px;
}
.mp3{
    text-align: center;
    font-size: 14px;
    color:#6f6d6d;
    padding-top: 100px;
}
.djs{
    width: 240px;
    margin:30px auto;
    /* border:2px solid red; */
    display: flex;
    justify-content: space-around;
}
.djs .num{
    width: 30px;
    height: 40px;
    background-color:#605751;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:#fff;
}
.dian{
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}




























